data/pdks/asap7/*
data/pdks/nand45nm/*
data/pdks/tsmc/*
data/dbs/*.db
dbs/*

*.csv
output/*.csv

*.conf

data/__pycache__ 
data/parsers/__pycache__

eval/__pycache__

__pycache__


designs/
dbs/*.db
data/dbs

CircuitOps/

parsers/design/design
database/parsers

plugins/
data/

output-date 
output/*.png
slurm*

chipquery

wandb/
unsloth_compiled_cache/

.env